@import "tailwindcss";

@theme inline {
  --color-Red: hsl(4, 100%, 67%);
  --color-Blue-800: hsl(234, 29%, 20%);
  --color-Blue-700: hsl(235, 18%, 26%);
  --color-Grey: hsl(0, 0%,58%);
  --color-White: hsl(0, 0%, 100%);
}